{% extends 'base.html' %}

{% block content %}
<div class="container">
  
   <!-- DISPLAY WATCHLIST  -->
    {% block title %}
    <h3 class="display-4 text-center">Watchlist</h3>
    {% endblock %}

    <div class="row align-items-end justify-content-center">

      <div class="col-7">

       <div class="list-group">

          {% for w in watchlist%}

             <a href="/watchlist/{{w.id}}" class="list-group-item list-group-item-action text-success ">{{w.name}}</a>

          {% endfor%}   
       
       </div> 

             <button type="button" class="btn btn-outline-success"> <a class="text-dark"  href="/watchlist/create">Create New</a>  </button>
       
       </div>
      
      </div>



    
{% endblock %}